RM	= rm -f

#SYSTEM	= ifort
#SYSTEM	= nvhpc
SYSTEM = ES4v

 BUILD = O0
#BUILD = O3

MODEL = offline

OPTBBL     = -DOPT_BBL
OPTTRIPOLE = -DOPT_TRIPOLE
OPTEXMASK  = -DOPT_EXMASK
OPTOECO= 
#OPTTOUZA = -DOPT_TOUZA
SRCENS  =

### MPI-IO ###
OPTIO   = -DOPT_IO_COCOMPI -DOPT_IO_BYTESWAP -DOPT_IO_SEQUENTIAL
MPI=.mpi

# offline
SRCOPT = tflxt.som
OFFLINE = -DOPT_OFFLINE -DOPT_BODY

TARGET	= $(OGCMDIR)/bin/$(MODEL)
LIBOGCM	= $(OGCMDIR)/lib/lib$(MODEL).a
